body{
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

h1{
   font-size: 55px; 
   font-weight: 400;
   color: #1D1B20;
   margin-bottom: 15px;
   margin-left: 50px;
   margin-top: 100px;
}

h5{
   font-size: 18px;
   font-weight: 150;
   color: #49454F;
   letter-spacing: 0,1px;
   margin-top: 10px;
   margin-left: 50px;
   font-family: 'Roboto';
}

.order{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid #EADDFF;
    width: 75%;
    background-color: #FEF7FF;
    margin-top: 15px;
    padding-right: 15px;
    border-radius: 15px;
    margin-left: 20px;
}

#orders-list{
    display: flex;
    margin-top: 125px;
}

#først{
    justify-content: center;
    gap: 20px;
    display: flex;
    align-items: center;
    width: 95%;
    flex-direction: row;
    margin-top: 20px;
}

.letter, .tekst{
    margin-left: 20px;
}

.letter{
    border: solid #EADDFF;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: #EADDFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: #8100fa;
}

footer{
    border: solid black;
    width:100%;
    background-color: #00A9E0;
    margin-top: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

#logo{
    height: 90px;
    display: flex;
    width: 67px;
    color: #000000;
    margin-left: 10px;
    margin-top: 8px;
}

.fjerner{
    width: 80px;
    height: 35px;
    background-color: #FFD8E4;
    margin-left: auto;
    color: #c6a2ff;
    border-radius: 50px;
    margin-left: auto;
    border: none;
    cursor: pointer;
}

#sokefelt{
   background-color: #F3EDF7;
   border-radius: 50px;
   height: 45px;
   width: 700px;
   display: flex;
   margin-top: 15px;
   display: flex;
   border: none;
}

#link{
    display: flex;
    margin-top: 10px;
    margin-left: 8px;
}

::placeholder{
    color: #6750A4;
    padding-left: 10px;
    display: flex;
}

#bell{
    display: flex;
    margin-top: 8px;
    cursor: pointer;
}

#avatar{
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 7px;
    cursor: pointer;
}